# Java
target/
*.class
*.jar
*.war

# Maven
log/
logs/
!.mvn/wrapper/maven-wrapper.jar
.mvn/
.settings/
.idea/

# Environment config
.env
application.properties
application-dev.properties
application-prod.properties


# OS
.DS_Store
Thumbs.db
